<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<%= render 'list', restaurants: @restaurants %>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
<%= link_to '5 Star Restaurants', top_restaurants_path %>
